<!DOCTYPE html>

<head>

    <title>CryptoConnect</title>

    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <nav>
        <!--< a href=""><img src=""/> </> -->
       <a href="/" id="navListItem"> <img id="logo" alt="" src="/images/bitcoin.png"/>
        <h2>CryptoConnect</h2> </a>
      
       
        <ul class="navList">
        
         
         
         <%if(!user){%>
            <li class="navListItem"><a href="/connections/">Connections</a></li>
            <li class="navListItem"><a href="/about">About</a></li>
            <li class="navListItem"><a href="/contact">Contacts</a></li>
            <li class="navListItem"><a href="/users/login">Login</a></li>
            <li class="navListItem"><a href="/users/new">Signup</li><a></li>
         <%}else{%>
            <li class="navListItem"><a href="/connections/">Connections</a></li>
            <li class="navListItem"><a href="/about">About</a></li>
            <li class="navListItem"><a href="/contact">Contacts</a></li>
            <li class="navListItem"><a href="/connections/new">Start a new connection</a></li>
            <li class="navListItem"><a href='/users/profile'>Profile</a></li> 
            <li class="navListItem"><a href='/users/logout'>Logout</a></li>
        </ul>
      <%}%>
        
  

        <%if(user){%>
          
                <p id="welcome">Welcome, <%= name %> </p>

        
        <%}%>
      </nav>

      <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>
    
                    <% if(successMessages.length > 0) {%>
    
                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>