<!DOCTYPE html>

<head>

    <title>CryptoConnect</title>

    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <nav>
        <!--< a href=""><img src=""/> </> -->
        <a href="/" id="cLink"><img id="logo" alt="" src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/100/000000/external-laptop-business-strategy-itim2101-lineal-color-itim2101.png"/>
        </a><h2> CryptoConnect </h2>
       
        <ul class="navList">
         <li class="navListItem"><a href="/connections/newConnection">Start a new connection</a></li>
         <li class="navListItem">Login</li>
         <li class="navListItem">Signup</li>
        </ul>
  
        <hr/>
  
        <ul class="navList2">
          <li class="navListItem2"><a href="/connections/">Connections</a></li>
          <li class="navListItem2"><a href="/main/about">About</a></li>
          <li class="navListItem2"><a href="/main/contact">Contacts</a></li>
        </ul>
      </nav>