<%- include('../partials/header.ejs')%>

      <div id="form-container">

        <form action = '/connections' method = 'POST'>

            <label>Topic: </label><input type="text" name ="topic" placeholder="Topic" required>
            <br>
            <label>Title: </label><input type="text" name="name" placeholder="Title" required>
            <br>
            <label>Host: </label><input type="text" name="hostName" placeholder="Host" required>
            <br>
            <label>Details: </label><textarea name="details" placeholder="Description" required></textarea >
            <br>
            <label>Where: </label><input name="where" type="text" placeholder="Location" required>
            <br>
            <label>When: </label><input name="date" type="date" required>
            <br>
            <label> Start: </label><input name="startTime" type="time" id="start-time" required>
            <br>
            <label>End: </label><input name="endTime" type="time" id="end-time" required>
            <br>
            <label>Image URL: </label><input name="image" type="text" placeholder="Image URL" required>
            <br>
            <label id="c-c"></label><button id="create-connection">Create Connection</button>

        </form>
      </div>

<%- include('../partials/footer.ejs')%>