


<%- include('./partials/header.ejs')%>

    <h1 id="aboutH"> About CryptoConnect</h1>
    <img alt="" id="aboutImg" src="/images/crypto.png">
    <p>Welcome to CryptoConnect!</p>
    <br>
    <p>Here at CryptoConnect we will expose you to the future which is the Cryptoverse. A crypto ecosystem that bring to life inventions and possibilities we never thought to be possible.</p>
    


<%- include('./partials/footer.ejs')%>