<%- include('./partials/header.ejs')%>

      
        <h1 id="contactH"> Get in Touch</h1>
        <img alt="" id="contactImg" src="/images/contact-info.png">
        <table id="contactInfo">
          
            <tr>
              <th id="contact"> Contact's Name </th>
              <th id="phone"> Phone Number</th>
              <th id="email"> Email</th>
            </tr>
            <tr>
              <td> Jacob Barnes</td>
              <td> (704) 543-3296</td>
              <td> jbarnes@gmail.com</td>
            </tr>
            <tr>
              <td> Nickey Jones</td>
              <td> (704) 734-3123</td>
              <td> nickyjon@hotmail.com</td>
            </tr>
            <tr>
              <td> Chris Epsilon</td>
              <td> (704) 655-7372</td>
              <td> chris243@gmail.com</td>
            </tr>
        </table>
     

<%- include('./partials/footer.ejs')%>