<%- include('./partials/header.ejs')%>

   <div class="container">
    <div class="info-home">
      <p>Welcome to CryptoConnect!</p>
    
      <br>
      <p>Here on CryptoConnect we keep you informed on the latest conventions and community outreach opportunities.</p>
      <br>
      <p>Check out our connections page to view our latest available connections to participate in.</p>
     
    
    </div>
     
    <div class="banner">
      <img alt="" id="bimg" src="/images/tezos.jpg"/>
    
    </div>

    
   </div>
<%- include('./partials/footer.ejs')%>