<%- include('./partials/header.ejs')%>


    <p>Welcome to CryptoConnect!</p>
    <br>
    <p>Here on CryptoConnect we keep you informed on the latest conventions and community outreach opportunities.</p>
    <br>
    <p>Check out our connections page to view our latest available connections to participate in.</p>


<%- include('./partials/footer.ejs')%>