
body{

    width:100%;
    height: 100%;
    
    margin: 0%;
    z-index: 20;
    position:relative;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #d2b48c;
    scroll-behavior: smooth;
    margin-bottom: 200px;
}

nav{
width:100%;
height: 20%;
position:sticky;
background: linear-gradient(#BA9368,#966919,#80471c,#7B3F00);
z-index: 5;
color: white;
padding: 20px;
padding-bottom: 3px;
overflow: hidden;
top: 0;
}




.navList{

    text-align: right;
    display: inline;
    width:600px;
    float:right;
    margin-right: 12%;
    margin-top: 4%;
}

.navList2{

    /** text-align: right; */
    display: inline-block;
    width:500px;
    margin-right: 1000px;
    margin-top: 11px;
    padding-left: 0.8%;
    
}

.navListItem{

    color:white;
    list-style-type: none;
    display: inline;
    padding-left: 7%;
}

.navListItem2{

    color:white;
    list-style-type: none;
    display: inline;
    padding-right: 7%;
    
}

nav h2{
    padding-left: 10px;
    padding-top: 32px;
    margin-top: 0px;
    display: inline;
}

#logo{
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 0px;
    display: inline;

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
  }

footer{
    position:fixed;
    bottom: 0px;
    background: linear-gradient(#966919,#7B3F00);
    display: block;
    width:100%;
    height: 10%;
    color: white;
    
}

hr{
    background-color: white;
    margin-left: -50%;
}

#copyright{
    margin-top: 45px;
    margin-left: 20px;
}

p{
    text-align: center;
    color:white;
    font-size: 27px;
}

/* Connection page css    */

#delUpd{
    display: inline;
    float:right;
}

#rsvpOpt{
    display: inline;
    float:right;
    margin-bottom:10px;
}

#yes{
    background-color: green;
    color: white;
}

#no{
    background-color: red;
    color: white;
}

#maybe{
    background-color: blue;
    color: white;
    float:right;
}

button{
    display: inline;
    background-image: linear-gradient(#f9f295,#E0AA3E,#E0AA3E,#B88A44);
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 40px;
}



#info1{
    margin-top: 40px;
    margin-left:28%;
    margin-right: auto;
    width: 850px;
}
#info2{
    margin-top: 60px;
    margin-left:28%;
    margin-right: auto;
    width: 800px;
    background-color: #805917;
    border-radius: 15px;
    padding: 10px;
    border: 3px solid white;
}

#info-inner{
    margin-left: 24%;
    display: block;
    margin-top: -30%; 
}

#topic{
    display: inline;
}

#delete{
    margin-top: 0px;
    margin-right: 15px;
}

#eth{
    display: block;
    height: 250px;
    width: 250px;
    margin-top: 40px;
    border-radius: 15px;
}

#connectHost{
    margin-left: 185px;
}

#det{
    text-align: justify;
}
/* Connections page css    */

table{
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 500px;
    background-image: linear-gradient(#f9f295,#E0AA3E,#E0AA3E,#B88A44);
}

td{
    border: 1px solid black;
    background-color: #B88A44;
}

.cLink{
    text-decoration: none;
    color:black;
}



/* newConnection page css    */


#form-container{
    margin-top: 40px;
    margin-left:35%;
    margin-right: auto;
}

label{
    width:180px;
    display:inline-block;
    margin-bottom: 30px;
}

#c-c{
    width:335px;
    display:inline-block;
    margin-bottom: 30px;
}
input{
    width:300px;
    margin-bottom: 30px;
}
textarea{
    width:300px;
    
}

#start-time{
    width:130px;
}

#end-time{
    width:130px;
}
#create-connection{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-right: 680px;
    background-image: linear-gradient(#f9f295,#E0AA3E,#E0AA3E,#B88A44);
    color: white;
}

#edit-connection{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    
    background-image: linear-gradient(#f9f295,#E0AA3E,#E0AA3E,#B88A44);
    color: white;
}

/* Contacts page css */

#contact{
    width: 550px;
    border-right: 0.1rem solid;
}

#email{
    width: 400px;
   
}

#phone{
    width: 550px;
    border-right: 0.1rem solid;
}

#contactInfo{
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 800px;
    background-image: linear-gradient(#f9f295,#E0AA3E,#E0AA3E,#B88A44);
}

/*  About page css */

#aboutH{

    text-align: center;
}

#aboutImg{
    margin-left: 820px;
    width: 150px;
    height: 150px;
}

/*  Contact page css */

#contactH{
    text-align: center;
    color: #8b652b;
}

#contactImg{
    margin-left: 820px;
    width: 150px;
    height: 150px;
}

#connectImg{
    margin-left: 840px;
    margin-top: 15px;
    width: 100px;
    height: 100px;

}

.content {
    padding-left: 20px;
    padding-top: 20px;
  }

/* Sign up */

#signup{
    margin-left: 650px;
    
}

#signup input{
    width: 400px;
    
}

#signup button{
    margin-right: 730px;
    
}

/* Login page*/

#login{
    margin-left: 650px;
    
}

#login input{
    width: 400px;
    
}

#login button{
    margin-right: 730px;
    
}

/* Style flash messages */

.success{

    background-color: rgba(108, 192, 112, 0.7);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.error {

    background-color: rgba(255, 102, 51, 0.7);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#welcome{
    display: inline;
    margin-left: 1000px;
    color:white;
}

#myConnects{

    width: 1000px;
    background-color: black;
}

#myRSVPs{
    width: 1000px;
    height:fit-content;
    background-color: black;
}

.con{
    color:black;
}